/* class */
.bodycontainer{
    background-color: white;
    background-image: url(./Imag/tablanegra.jpg);  
   background-repeat: no-repeat;
   background-size: cover;
}
.titulo {
    font-size: 50px;
    color: #FF9B00; 
    font-family: 'Segoe UI';
    font-style: italic;
    text-align: center;
    vertical-align: middle;
    padding: 8px;
    border: 4px solid #E8E7E7;
    border-radius: 100px;
}

img{
    width: auto;
    height: 100%;
    object-fit: contain;
    opacity: 0.9;
}

.frutaimagen {
 height: 220px;
 border: 1px ;
 border-radius: 40px;
 position: relative;
}

.carneimagen{
    height: 225px;
    border: 1px ;
    border-radius: 60px;
    position: relative;
    left: 5%;
}

.verduraimagen{
    height: 225px;
    border: 1px ;
    border-radius: 70px;
    position: relative;
    left: 10%;
}

.textocompra {
    position: relative;
    font-size: 20px;
    color: white;
    float: left;
    width: auto;
   
}

.frutatexto{
    position: relative;
    left: 70%;
    bottom: 11px;
   
}

.carnetexto{
    position: relative;
    left: 720px;
    bottom: 165px; 
}

.verduratexto{
   position: relative;
   left: 1240px;
   bottom: 350px;
}